<!DOCTYPE html>
<html>
    <head> 
        <meta charset="utf-8"> <!-- utf-8 codificacion universal -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Para que sea compatible con internet explorer -->
        <title>Recetas Faciles</title> <!-- Titulo de la pestaña -->
        <meta name="keywords" content=""> <!-- Palabras clave para pocisionar la pagina -->
        <meta name="description" content=""> <!-- Descripcion breve de la pagina, no mas de 140/160 caracteres para que sea SEO frendly-->
        <meta name="author" content="El masi"> <!-- Autor de la pagina -->
        <meta name="copyright" content="Esta"> <!-- Copyright, no es muy dificl de entender -->
        <meta name="robots" content="index"> <!-- Index = aparece en la busqueda de Google, noindex = no aparece en Google -->
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Viewport = responsive en celulares -->
        <link rel="stylesheet" href="style.css"> <!-- link para llamar archivos, principalmente css -->
    </head>

    <body> <!-- Cuerpo de la pagina-->

        <header> <!-- Encabezado -->
            <nav> <!-- Barra de navegacion, suele armarce con listas no ordenadas-->
                <div>
                    <ul> <!-- Lista no ordenada -->
                        <li></li> <!-- Elemento de la lista -->
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </nav>
        </header>

        <section class="section-recipes">
            
            <article>
                <header>
                    <h1>Comidas facieles, rapidas y ricas de hacer</h1>
                </header>
                <div class="article-body"> <img src="imgs/comidas-faciles-rapidas.jpg" alt="Comidas faciles" title="Plato de comida"><p>Cuando pensamos qué podemos preparar hoy para comer o para cenar, en muchas ocasiones se nos presenta un dilema. 
                    Hay días que no te apetece cocinar y buscas comidas fáciles de hacer. Otros, dispones de poco tiempo para comer y necesitas comidas rápidas de hacer y que te lleve poco tiempo en la cocina. 
                    Además, hay meses que nos surgen imprevistos y necesitamos elaborar comidas económicas. Eso si, siempre, buscas comidas ricas o deliciosas que gusten a toda la familia.
                    En la actualidad, estamos viviendo en una sociedad que está en constante cambio. Si hace unos años hablábamos de que pasábamos mucho tiempo fuera de casa, a causa del trabajo o por otros motivos, 
                    ahora estamos mucho más tiempo en casa, pero aún así seguimos teniendo un horario muy «ajustado» que no nos permite pasar mucho tiempo en la cocina.
                    Como bien sabes, en Cocina Casera y Fácil tenemos presente todo esto y por ello, te presentamos una selección de nuestras mejores 50 recetas de comidas fáciles, rápidas y ricas para hacer en casa. Un listado de aperitivos, 
                    entrantes y postres perfectos para ayudarte a elaborar tu menú diario y con el que disfrutará toda la familia, desde los mas pequeños de la casa, hasta los más mayores.
                    </p></div>
                <footer></footer>
            </article>

            <article>
                <header>

                </header>
                <div class="article-body"></div>
                <footer></footer>
            </article>

            <article>
                <header>

                </header>
                <div class="article-body"></div>
                <footer></footer>
            </article>

            <article>
                <header>

                </header>
                <div class="article-body"></div>
                <footer></footer>
            </article>

            <article>
                <header>

                </header>
                <div class="article-body"></div>
                <footer></footer>
            </article>

        </section>

    </body>
</html>

<!-- <h1>Comidas, Faciles y Rapidas</h1> no poner mas de un h1, no seas gil (hay de h1 a h6 )
<h2>Lorem, <b>ipsum dolor</b> sit amet consectetur adipisicing elit.</h2>  "p" para marcar parrafo, "b" negrita, "i" italica, "strike" tachada,
<img src="" alt="" title=""> alt: muy importante para el SEO, title: para que aparesca una palabra al pasar sobre la imagen
<a href="" target="_blank"></a> "a" para poner enlaces, _blank para que te abra en una nueva ventana  -->
               